*{

margin:0px;
padding:0px;

}

body{

background-color: #A1C8C3;
background-image:url(fondo.jpg);
}


#header{
height: 100px;
width:auto;
background-color: #AFD5E0;
text-align: center;

}
h1{
  font-size: 50px;
  color: #68797E;
  padding: 20px;
}
@media screen and (max-width:767px){
  #header{
  background-color: salmon;
  }
}

.boleta{

height:180px;
width:250px;
background-color: #68797E;
border-radius: 30%;
float: left;
margin: 10px;
margin-left:130px;
margin-right: 130px;
}


p{
font-size: 30px;
text-align: center;
margin-top: 45px;

}


@media screen and (max-width:767px){
  p{
     font-family: "Roboto", sans-serif;
     font-size:10vw;
     text-align: center;
     margin-top: 40px;
  }
}

@media screen and (max-width:767px){
.bolita{
     background-color: red;
      width:45vw;
      height:45vw;
  }
}
